<div ng-controller="List">
  <ul>
    <li ng-repeat="description in descriptions | filter: filterSearch">{{log.description)}}</li>
  </ul>
</div>

  <div>
    <input type="search" id="description" ng-model="vm.model.description">
  </div>

<div ng-show="vm.model.id" ng-include="'src/views/form.html'"></div>

<ul class="collection" ng-show="vm.logs.length">
	<li class="collection-item" ng-repeat="log in vm.logs track by log.id"  ng-click="vm.model = log">
		<div class="row">
			<div class="col s6">
				<h6 class="title"><b>{{log.kind}}</b></h6>
				<small>{{log.logged_at | amDateFormat:'MM/DD/YYYY HH:mm'}}</small>
			</div>

			<div class="col s6" ng-bind-html="vm.showHashtag(log.description)"></div>
		</div>
	</li>
</ul>

<p ng-hide="vm.logs.length">You have no logs yet. Please, start adding one <a ng-href="#/add">here</a>.</p>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="#/add" class="btn-floating btn-large waves-effect waves-light red">
    	<i class="large material-icons">add</i>
    </a>
</div>
