.content {
	margin-top: 30px;
	margin-bottom: 60px;
}

.prefix {
	margin-top: 10px;
	padding: 0;
}

.list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-group-item {
  flex-basis: 50%;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 2;
  line-height: 6em;
  min-width: 5em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  font-family: Verdana;
  font-family: 'PT Sans', sans-serif;
  padding: 1em 1em 1em 1em;
  border: 1px solid #fff;

  cursor: pointer;
}